<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    link(rel="stylesheet", href="static/styleabout.css")
</head>
<body>
    <header>
        <ul id="ul">
            <li class="li"><a class="navbtn" href="/">HOME</a></li>
            <li class="li"><a class="navbtn" href="/shop">SHOP</a></li>
            <li class="li"><a class="navbtn" href="/contact">CONTACT</a></li>
            <li class="li"><a class="navbtn" href="/about">ABOUT</a></li>
        </ul>
    </header>
    <p class="heading">About Us</p>
    <div class="container">
        <p class="content">
            |Arjun Jewellers is a jewellery shop in Kanpur. We deal in gold jewellery. We sell Nose Pins, Nose Rings, Earrings and more. 
        </p>
        <p class="content">
            |These ornaments are made by the finest goldsmiths of Agra and Amritsar. All Jewellery is made up of 22 carat pure gold. Do visit our shop. Thanks for visiting our website.
        </p>
        <p class="content" id="follow">
            |Follow On <span><a href="https://www.instagram.com/avnish.singh.73594/" target="_blank"><img src="static/insta_icon.png" alt="Sorry"></a></span>
            <span><a href="https://www.youtube.com/channel/UCH9KuQ5PAGyNGbTr8q_PN3g" target="_blank"><img src="static/yt_icon.png" alt="Sorry"></a></span>
        </p>
    </div>
</body>
</html>