extends navbar

block title
  | About

block css
  link(rel='stylesheet', href='/static/styleabout.css')

block content
  p.heading About Us
  .container
    p.content Arjun Jewellers is a jewellery shop in Kanpur. We deal in gold jewellery. We sell Nose Pins, Nose Rings, Earrings and more.
    p.content These ornaments are made by the finest goldsmiths of Agra and Amritsar. All Jewellery is made up of 22 carat pure gold. Do visit our shop. Thanks for visiting our website.
    p#follow.content Follow On 
      span
        a(href='https://www.instagram.com/avnish.singh.73594/', target='_blank')
          img(src='static/insta_icon.png', alt='Sorry')
      span
        a(href='https://www.youtube.com/channel/UCH9KuQ5PAGyNGbTr8q_PN3g', target='_blank')
          img(src='static/yt_icon.png', alt='Sorry')