extends navbar

block title
  | Contact

block css
  link(rel='stylesheet', href='/static/stylecontact.css')

block content
  p.heading Contact Us
  .container
    .contact
      p.contact-details Owner: Avnish Singh
      p.contact-details
        img.contacticon(src='static/download.png', alt='Sorry')
        span 9335616276, 9415066143
      p.contact-details
        img.contacticon(src='static/email.png', alt='Sorry')
        span avnishsingh776@gmail.com
      p.contact-details
        img.contacticon(src='static/add2.png', alt='Sorry')
        span 43/6 Nariyal Bazar, Chowk Sarafa,
      p.contact-details(style='justify-content: center;') Kanpur-208001
    .form-container
      p.for-enquiry For enquiry
      form#formform.form(action='/contact', method='post')
        .formitem
          label(for='name') Name
          input#name.input(name='name', type='text', required='')
        .formitem
          label(for='mobile') Mobile
          input#mobile.input(name='mobile', type='phone', required='')
        .formitem
          label(for='email') E-mail
          input#email.input(name='email', type='email', size='25', required='')
        .formitem
          label(for='msg') Your Message
          textarea#msg(name='msg', cols='30', rows='5', required='')
        .submit-button
          button.submit-link(type='submit') Submit
  p.followon Follow On 
    span
      a(href='https://www.instagram.com/avnish.singh.73594/', target='_blank')
        img.followicon(src='static/insta_icon.png', alt='Sorry')
    span
      a(href='https://www.youtube.com/channel/UCH9KuQ5PAGyNGbTr8q_PN3g', target='_blank')
        img.followicon(src='static/yt_icon.png', alt='Sorry')