extends navbar

block title
  | Welcome!

block css
  link(rel='stylesheet', href='/static/styleindex.css')

block content
  section.container_section
    #intro
      p#title Arjun Jewellers
      p#tagline Inspire your style
      #item_list
        ul
          li.item We excel in gold nose pins and earrings.
          li.item Best Collection only brought for you.
          li.item We also provide Jewellery Polishing service.
      #shop_now
        ul#btn_container
          li.btn
            a(href='/shop') SHOP NOW
        img#ring(src='static/golden_ring.png', alt='')
  .collection
    p#coll_head OUR COLLECTION
    .card_container
      .card
        #earring.card_image
        .card_text
          p.card_heading Ear Rings
          p.card_detail
            | Best collection of India from the makers of Agra and Amritsar. Made of 22
            | carat pure gold with HallMarking. Click below to see more!
        .card_btn
          li.view_all
            a.view_all_link(href='/shop') VIEW ALL
      .card
        #nosepin.card_image
        .card_text
          p.card_heading Nose Pins
          p.card_detail
            | Beautiful nose pins brought from the artists of Agra. Made of 22 carat pure
            | gold with HallMarking. Click below to see more!
        .card_btn
          li.view_all
            a.view_all_link(href='/shop') VIEW ALL
      .card
        #nosering.card_image
        .card_text
          p.card_heading Nose Rings
          p.card_detail
            | Elegant and beautiful nose rings enhances the beauty of a woman. Nose Rings
            | made of 22 carat gold. Click below to see more!
        .card_btn
          li.view_all
            a.view_all_link(href='/shop') VIEW ALL