extends navbar

block title
  | Log in

block css
  link(rel='stylesheet', href='/static/stylesignup.css')

block content
  .container
    .form-container
      p.for-enquiry Log In here...
      form#formform.form(action='/login', method='post')
        .formitem
          label(for='email') E-mail
          input#email.input(name='email', type='email', size='25', required='')
        .formitem
          label(for='password') Password
          input#password.input(name='password', type='password', size='25', required='')
        .submit-button
          button.submit-link(type='submit') Submit
  p.followon Follow On 
    span
      a(href='https://www.instagram.com/avnish.singh.73594/', target='_blank')
        img.followicon(src='static/insta_icon.png', alt='Sorry')
    span
      a(href='https://www.youtube.com/channel/UCH9KuQ5PAGyNGbTr8q_PN3g', target='_blank')
        img.followicon(src='static/yt_icon.png', alt='Sorry')