extends navbar

block title
  | Sign up

block css
  link(rel='stylesheet', href='/static/stylesignup.css')

block content
  .container
    .form-container
      p.for-enquiry Sign up here...
      form#formform.form(action='/signup', method='post')
        .formitem
          label(for='name') Name
          input#name.input(name='name', type='text', required='')
        .formitem
          label(for='mobile') Mobile
          input#mobile.input(name='mobile', type='phone', required='')
        .formitem
          label(for='email') E-mail
          input#email.input(name='email', type='email', size='25', required='')
        .formitem
          label(for='address') Address
          input#email.input(name='address', type='text', size='30', required='')
        .formitem
          label(for='password') Password
          input#password.input(name='password', type='password', size='25', required='')
        .submit-button
          button.submit-link(type='submit') Submit
                            